html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
input:focus {
    outline: none;
}
.id {
    background-color: rgb(252,252,252);
    text-align: center;
    width: 50%;
    padding: 2em;
    margin: auto;
    border:2px solid rgb(244,244,247);
    font-family: 'Open Sans','Segoe UI','Droid Sans',Tahoma,Arial,sans-serif;    
}

.search-input {
    background-color: rgb(56, 56, 146);
    padding: 1em;
    padding-top: 18%;
    margin: auto;
    text-align: center;
}

.input-field textarea:focus + label {
    color: #2196f3 !important;
  }
  
  .row .input-field textarea:focus {
    border-bottom: 1px solid #2196f3 !important;
    box-shadow: 0 1px 0 0 #2196f3 !important
  }

input {
    width: 56%;
}

body {
    background-color: rgb(244,244,247);
}

.header-bar {
    background-color: rgb(33,33,33);
    width: 100%;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    text-align: center;    
    position: fixed;
}

.github-link {
    position: fixed;
    margin: auto;
    bottom: 0;
    right: 0;
    height: 32px;
    background-color: rgb(244,244,247);
}

.ubif-logo {
    margin: auto;
    display: block
}

.repair-price {
    padding: 1em
}

.repair {
    padding: 1em;
    text-align: center
}

.search-input {
    -webkit-appearance: none
}

textarea,
input.text,
input[type="text"],
input[type=search] {
    -webkit-border-radius: 0 !important;
    border-radius: 0px !important;
    -webkit-appearance: none
}


/* .link {
    background-color: #f44336;
    color: white;
    padding: 0.6em 1em;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
    border-radius: 3px;
} */

/* .red {
    background-color: #f44336;
    color: white;
    padding: 0.6em 1em;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
    border-radius: 3px;
} */

/* .device-page:link, .device-page:visited {
    background-color: #f44336;
    color: white;
    padding: 0.6em 1em;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
    border-radius: 3px;
} */