.id {
    background-color: rgb(252,252,252);
    text-align: center;
    width: 50%;
    padding: 2em;
    margin: auto;
    border:2px solid rgb(244,244,247);
}

.search-input {
    background-color: rgb(244,244,247);
    padding: 1em;
    padding-top: 13%;
    margin: auto;
    text-align: center;
}
input {
    width: 56% 
}

body {
    background-color: rgb(244,244,247)
}

.header-bar {
    background-color: rgb(33,33,33);
    width: 100%;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    text-align: center;    
    position: fixed
}
