.id {
    background-color: rgb(252,252,252);
    text-align: center;
    width: 50%;
    padding: 2em;
    margin: auto;
    border:2px solid rgb(244,244,247);
    font-family: 'Open Sans','Segoe UI','Droid Sans',Tahoma,Arial,sans-serif;    
}

.search-input {
    background-color: rgb(244,244,247);
    padding: 1em;
    padding-top: 18%;
    margin: auto;
    text-align: center;
}

.search {
}

input {
    width: 56% 
}

body {
    background-color: rgb(244,244,247);
}

.header-bar {
    background-color: rgb(33,33,33);
    width: 100%;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    text-align: center;    
    position: fixed
}

.github-link {
    position: fixed;
    margin: auto;
    bottom: 0;
    right: 0;
    height: 32px;
    background-color: rgb(244,244,247);
}

.ubif-logo {
    margin: auto;
    display: block
}

.repair-price {
    padding: 1em
}

.repair {
    padding: 1em;
    text-align: center
}

.device-page:link, .device-page:visited {
    background-color: #f44336;
    color: white;
    padding: 0.6em 1em;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
    border-radius: 3px;
}